<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008879973153-e3472m2a4d6crnh30b4esj7244bmkene.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008879973153-e3472m2a4d6crnh30b4esj7244bmkene</string>
	<key>API_KEY</key>
	<string>AIzaSyChVqhiV15Ojg9BA90qc5WvMPmSJsgyltk</string>
	<key>GCM_SENDER_ID</key>
	<string>1008879973153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fixhelper</string>
	<key>PROJECT_ID</key>
	<string>fixhelper-1408a</string>
	<key>STORAGE_BUCKET</key>
	<string>fixhelper-1408a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008879973153:ios:b0fd32d87d929fb606c460</string>
</dict>
</plist>